body {
  height: 100vh;
  overflow: hidden;;
}

div {
  box-sizing: border-box;
}

.panel {
  display: flex;
}

.panel-left {
  flex: 1;
  height: 100px;
}

.panel-right {
  flex: 2;
  min-width: 600px;
}

.separate {
  width: 1px;
  background-color: #ccc;
  margin: 10px 20px;
}

#canvas {
  background-color: black;
}

.btn {
  background-color: #165dff;
  color: #fff;
  padding: 2px 10px;
  border-radius: 4px;
}

.btn:hover {
  background-color: #165dff6f;
}